<div class="auth-main">
    <div class="auth-wrapper">
      <div class="auth-form">
        <div class="card mt-5">
          <div class="card-body">
            <div class="text-center">
              <h2 class="text-secondary"><b>Mot de passe oublié</b></h2>
              <p>Entrez votre adresse e-mail pour recevoir le lien de réinitialisation.</p>
            </div>
            <form [formGroup]="requestPasswordResetForm" (ngSubmit)="onSubmit()">
              <!-- Champ Email -->
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email">
                <label for="email">Email</label>
                <div *ngIf="requestPasswordResetForm.get('email')?.invalid && requestPasswordResetForm.get('email')?.touched" class="text-danger">
                  <small *ngIf="requestPasswordResetForm.get('email')?.errors?.['required']">L'email est requis.</small>
                  <small *ngIf="requestPasswordResetForm.get('email')?.errors?.['email']">Veuillez entrer une adresse email valide.</small>
                </div>
              </div>
  
              <!-- Bouton de soumission -->
              <div class="d-grid">
                <button type="submit" class="btn btn-primary" [disabled]="requestPasswordResetForm.invalid || isLoading">
                  <span *ngIf="!isLoading">Envoyer</span>
                  <span *ngIf="isLoading">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Envoi en cours...
                  </span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  