<div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ cinema.name }}</h5>
      <p class="card-text">
        <strong>Adresse :</strong> {{ cinema.address }}<br>
        <strong>Ville :</strong> {{ cinema.city }}, {{ cinema.country }}<br>
        <strong>Téléphone :</strong> {{ cinema.phoneNumber }}<br>
        <strong>Horaires d'ouverture :</strong> {{ cinema.openingHours }}<br>
        <strong>Nombre de salles :</strong> {{ cinema.theaters.length }}
      </p>
    </div>
  </div>