.home-main {
    min-height: 80vh;
    padding: $spacing-md;
    background-color: $body-bg-color-second;
  
    .home-content {
      background-color: $body-bg-color-second;
      display: flex;
        margin: 1rem 10%;
        flex-direction: column;
        justify-content: center;
      .home-container{
        
        .latest-movies{
          margin: 0 auto;
        }
      }
    }
}
  