.home-main {
    min-height: 80vh;
    padding: $spacing-md;
    background-color: $body-bg-color-second;
  
    .home-content {
      text-align: center;
      background-color: $body-bg-color-second;
      
      .home-container{
        .latest-movies{
          margin: 0 auto;
        }
      }
    }
  }
  