<div class="wrapper">
    <app-navigation [isSidebarHidden]="isSidebarHidden"></app-navigation>
    <div class="main">
        <app-nav-bar (toggleSidebar)="onToggleSidebar()"></app-nav-bar>
        <main class="content px-5 py-5">
            <div class="row">
                <div class="main-fluid">
                    <router-outlet />
                </div>
            </div>
        </main>
        <footer class="footer">
            <div class="footer-fluid">
                <div class="row text-muted">
                    <div class="col-6 text-start my-4">

                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>