<div class="movie-ratings">
    <h2>Avis des utilisateurs</h2>
    <div *ngIf="reviews && reviews.length > 0; else noReviews">
      <div *ngFor="let review of reviews" class="review">
        <div class="review-header">
          <span class="user-rating">{{ review.rating }}/10</span>
          <span class="user-id">Utilisateur : {{ review.appUserId }}</span>
        </div>
        <p class="review-description" *ngIf="review.comment">{{ review.comment }}</p>
      </div>
    </div>
    <ng-template #noReviews>
      <p>Aucun avis disponible pour ce film.</p>
    </ng-template>
  </div>