.movie-card {
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: linear-gradient(to top, rgba(0, 43, 54, 1) 40%, rgba(128, 128, 128, 0.8) 100%);
    border: #b58900 solid 1px;

    &:hover {
        transform: scale(1.02);
        box-shadow: 0 6px 12px rgba(#000000, 0.15);
    }

    .movie-img {
        height: 200px;
        background-size: cover;
        background-position: center;
    }

    .movie-content {
        padding: 1.5rem;

        .movie-title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 0.5rem; 
            color: #fff; 
        }

        .movie-genres {
            font-size: 14px;
            color: #fff; 
        }

        .movie-description {
            font-size: 'Montserrat', sans-serif;
            line-height: 1.5;
            color: #fff; 
        }

        .btn-details {
            background-color: #b58900; 
            color: white; 
            border: none;
            padding: 0.5rem 1rem;
            border-radius: 4px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            width: 100%;
            text-align: center;
            transition: background-color 0.3s ease;
          }
          
          .btn-details:hover {
            background-color: #9a6d00; 
          }
          
          .btn-details i {
            font-size: 1.2rem;
          }
    }
}
