
<div class="col-md-12">
  <div class="card shadow-sm card-custom">
    <div *ngIf="getMainPosterUrl(); else noImage">
      <img
        [src]="getMainPosterUrl()"
        [alt]="movie.title"
        class="movie-poster"
        [style.max-height.px]="imageMaxHeight" 
      />
    </div>
    <ng-template #noImage>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/6/65/No-Image-Placeholder.svg"
        [alt]="movie.title"
        class="movie-poster"
        [style.max-height.px]="imageMaxHeight" 
      />
    </ng-template>
    <div class="card-body">
      <h5 class="card-title">{{ movie.title }}</h5>
      <p class="card-text">{{ getFormattedGenre(movie.genre) }}</p>
      <p class="card-text">{{ truncatedDescription }}</p>
      <p class="badge badge-custom">{{ movie.minimumAge }} +</p>
      <div class="rating">
        <ng-container *ngIf="movie.averageRating && movie.averageRating > 0">
          <span *ngFor="let i of Array(getStarRating(movie.averageRating).fullStars).fill(0)">
            <i class="bi bi-star-fill text-warning"></i>
          </span>
          <span *ngIf="getStarRating(movie.averageRating).halfStar">
            <i class="bi bi-star-half text-warning"></i>
          </span>
          <span *ngFor="let i of Array(getStarRating(movie.averageRating).emptyStars).fill(0)">
            <i class="bi bi-star text-warning"></i>
          </span>
        </ng-container>
        <span *ngIf="!movie. averageRating || movie.averageRating <= 0">
          Pas encore évalué
        </span>
      </div>
      <button class="btn-details" (click)="onCardClick()">
        <i class="bi bi-info-circle"></i> Voir les détails
      </button>
    </div>
  </div>
</div>
