<div class="container-fluid p-0  home-container ">
  <div class="row">
    <div class="col-12 latest-movies">
      <div *ngIf="isLoading" class="loading-spinner">
        Chargement en cours...
      </div>
      <div *ngIf="!isLoading" class="movie-list">
        <app-movie-card
          *ngFor="let movie of movies"
          [movie]="movie"
          (movieSelected)="showMovieDetails($event)"
        ></app-movie-card>
      </div>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
    Button with data-bs-target
  </button>
  <div class="offcanvas offcanvas-end"  data-bs-backdrop="false" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Créer un Cinema</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        <label class="form-label mt-4">Floating labels</label>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password" autocomplete="off">
          <label for="floatingPassword">Password</label>
        </div>
      </div>
      <div>
        <label class="form-label mt-4">Floating labels</label>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password" autocomplete="off">
          <label for="floatingPassword">Password</label>
        </div>
      </div>
    </div>
  </div>

  <app-container cardTitle="About Me">
    <p class="mb-4">
      Hello,I’m Anshan Handgun Creative Graphic Designer & User Experience Designer based in Website, I create digital
      Products a more Beautiful and usable place. Morbid accusant ipsum. Nam nec tellus at.
    </p>
  </app-container>

  <app-container
  [cardTitle]="'Mon Titre'"
  [cardClass]="'ma-classe-carte'"
  [showHeader]="false"
  [showContent]="true"
  [blockClass]="'mon-bloc'"
  [headerClass]="'mon-en-tête'"
  [footerClass]="'mon-pied-de-page'"
  [padding]="24"
>
  <!-- Contenu projeté pour les templates personnalisés -->
  <ng-template #headerOptionsTemplate>
    <button>Option 1</button>
    <button>Option 2</button>
  </ng-template>

  <ng-template #headerTitleTemplate>
    <h1>Titre Personnalisé</h1>
  </ng-template>

  <ng-template #footerTemplate>
    <p>Ceci est un pied de page personnalisé.</p>
  </ng-template>

  <!-- Contenu principal du composant -->
  <p>Ceci est le contenu principal de la carte.</p>
</app-container>
</div>

